<?xml version="1.0" encoding="utf-8"?>
<!-- Single-project MSIX publish profile for ARM64. -->
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>ARM64</Platform>
    <RuntimeIdentifier>win-arm64</RuntimeIdentifier>
    <PublishProtocol>FileSystem</PublishProtocol>
    <SelfContained>true</SelfContained>
    <PublishReadyToRun>false</PublishReadyToRun>
  </PropertyGroup>
</Project>
